
html, body {
    overflow-x:hidden;
    height: 100%;
}

.all{
    height:100%;
}

.right-content{
    background-color: #FBFBFB;
}

.nav.custom-header.justify-content-end {
    background-color: #FBFBFB;
}

.search_room{
    margin-top: 10%;
    margin-left: 25%;
}

.admin{
    background-color: black;
    padding-left: 2% !important;
}

.user{
    background-color: #FBFBFB;
}

.nav-sidebar{
    color: #FFFFFF !important;
}
@media only screen and (min-width: 812px){ /* Desktop */
    #search_room_start_date, #search_room_end_date {
        width: 150px;
    }

    .custom-header{
        padding-right: 10%;
    }
    
    .custom-header a{
        color: #000000;
    }

    .image {
        margin-left: 13%;
        margin-bottom: 0;
    }

    .sidebar-top{
        margin-top: 40%;
    }

    .date{
        padding-left: 1%;
    }

    .form-button{
        margin-top: 20% !important;
    }

    .col-md-4.order-md-2.mb-4.cart {

        margin-left: 50% !important;
        margin-top: -30%;
    }

    .thumbnail.images {
        padding-top: 20%;
    }
    .rooms.container {
        margin-bottom: 10%;
    }
}
@media only screen and (max-width: 812px){ /* Mobile */
    .search_room {
        margin-left: 10%;
    }

    #search_room_save {
        margin-bottom: -125%;
        margin-left: -106%;
    }

    .form-button{
        margin-left: 0;
    }

    .date{
        padding-right: 1%;
    }
    
    .left-sidebar{
        display: none;
    }

    .image {
        margin-left: -113%;
    }

}




