{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}
{% block stylesheets %}

{% endblock %}
        {% block body %}
                <script>
                        if ( window.history.replaceState ) {
                                window.history.replaceState( null, null, window.location.href );
                        }
                </script>
                <h1>Thank you for booking!</h1>

        {% endblock %}

{% block javascripts %}

{% endblock %}
