{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}
{% block stylesheets %}

{% endblock %}
        {% block body %}
                {% for room in rooms %}
                        {% if loggedin == 0 %}
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                                <input type="hidden" name="_target_path" value="{{ path('overview', {id : room.id, startdate : startdate, enddate : enddate, occupants : occupants, loggedin : 1}) }}"/>
                                <label>Email</label>
                                <input type="text" name="_username" required="required" />

                                <label>Password</label>
                                <input type="password" name="_password" required="required" />

                                <button type="submit">Log in</button>
                        </form>
                        {% endif %}

                        <div class="col-md-4">
                                <div class="thumbnail images">
                                        <img src="{{ asset('/images/' ~ room.image) }}" alt="Lights" style="width:100%">
                                        <div class="caption">
                                                <p>{{ room.description }}</p>
                                                <a href="{{ path('result_name', {id : room.id, startdate : startdate, enddate : enddate, occupants : occupants}) }}" class="btn btn-outline-secondary float-left">Return</a>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-4 order-md-2 mb-4 cart">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-muted">Your totals</span>
                                </h4>
                                <ul class="list-group mb-3">
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                <div>
                                                        <h6 class="my-0">Price each day</h6>
                                                        <small class="text-muted">The price of the room for every day</small>
                                                </div>
                                                <span class="text-muted">€{{ room.price }}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                <div>
                                                        <h6 class="my-0">Amount of days</h6>
                                                        <small class="text-muted">The amount of days that you've booked</small>
                                                </div>
                                                <span class="text-muted">{{ total_days }} days</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                <div>
                                                        <h6 class="my-0">Extra features price</h6>
                                                        <small class="text-muted">The prices for the extra features you've selected</small>
                                                </div>
                                                <span class="text-muted">IN PROGRESS</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between">
                                                <span>Total (EUR)</span>
                                                <strong>€{{ total_days * room.price }}</strong>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                <div>
                                                        <h6 class="my-0">Book now</h6>
                                                        <small class="text-muted"></small>
                                                </div>
                                                {{ form_start(form, {'attr': {'class': 'form-inline'} }) }}
                                                {{ form_row(form._token) }}
                                                {{ form_row(form.save, {'attr': {'class': 'btn btn-outline-secondary form-button'} }) }}
                                        </li>
                                </ul>
                        </div>
                {% endfor %}
        {% endblock %}
