{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/custom-bootstrap.css') }}">
{% endblock %}
{% block body %}
    <div class="rooms container">
        <div class="row">
    {% for room in rooms %}
        <div class="col-md-4">
            <figure class="card card-product">
                <div class="img-wrap"><img alt="image" src="{{ asset('/images/' ~ room.image)}}" height="220px" width="348px"></div>
                <figcaption class="info-wrap">
                    <h4 class="title">{{ room.typeid }}</h4>
                    <p class="desc">Extra features: <br>{% for extra in room.extra %}{{ extra.description|lower }} {% endfor %}</p>
                </figcaption>
                <div class="bottom-wrap">
                    <a href="{{ path('overview', {id : room.id, startdate : startdate, enddate : enddate, occupants : occupants}) }}" class="btn btn-outline-secondary float-right">Book now</a>
                    <div class="price-wrap h5">
                        <span class="price-new">€ {{ room.price }} every night</span>
                    </div>
                </div>
            </figure>
        </div>

{% endfor %}
        </div>
</div>
<!--container.//-->

{% endblock %}
