{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="search_room">
        <img alt="logo" class="image" src="{{ asset('images/logo.png') }}" height="175px" width="175px">

                {{ form_start(form, {'attr': {'class': 'form-inline'} }) }}
                {{ form_errors(form) }}
                {{ form_row(form._token) }}
            <div class="form-group date">
                {{ form_row(form.start_date, {'attr': {'class': 'form-control search-form'} }) }}
            </div>
            <div class="form-group date">
                {{ form_row(form.end_date, {'attr': {'class': 'form-control search-form'} }) }}
            </div>

            <div class="form-group date">
                {{ form_row(form.occupants, {'attr': {'class': 'form-control occupants search-form'} }) }}
            </div>

            <div class="form-group date">
            {{ form_row(form.save, {'attr': {'class': 'btn btn-outline-secondary form-button'} }) }}
            </div>

    </div>
{% endblock %}

    {% block javascripts %}
    {% endblock %}