{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/custom-bootstrap.css') }}">
{% endblock %}
        {% block body %}
            <div class="rooms container">
            <div class="row">
            {% for reservation in reservations %}

                        <div class="col-md-4">

                            <figure class="card card-product">
                                <div class="img-wrap"><img alt="image" src="{{ asset('/images/' ~ reservation.roomid.image)}}" height="220px" width="348px"></div>
                                <figcaption class="info-wrap">
                                    <h4 class="title">{{ reservation.roomid.typeid }}</h4>
                                    <p class="desc">Datum:<br>{{ reservation.startdate|date('d-m-Y') }} t/m {{ reservation.enddate|date('d-m-Y') }}</p>
                                </figcaption>
                                <div class="bottom-wrap">
                                    <div class="price-wrap h5">
                                        <span class="price-new">€ {{ reservation.roomid.price }} every night</span>
                                    </div>
                                </div>
                            </figure>
                        </div>

            {% endfor %}
            </div>
            </div>
        {% endblock %}
