{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('/css/custom-bootstrap.css') }}">


{% endblock %}
        {% block body %}
                All reservations that end today:
<div class="rooms container">
        <div class="row">
                {% for reservation_today in reservations_today %}
                                <div class="col-md-4">

                                        <figure class="card card-product">
                                                <div class="img-wrap"><img alt="image" src="{{ asset('/images/' ~ reservation_today.roomid.image)}}" height="220px" width="348px"></div>
                                                <figcaption class="info-wrap">
                                                        <h4 class="title">{{ reservation_today.roomid.typeid }}</h4>
                                                        <p class="desc">Extra features: <br>{% for extra in reservation_today.roomid.extra %}{{ extra.description|lower }} {% endfor %}</p>
                                                </figcaption>
                                                <div class="bottom-wrap">
                                                        <div class="price-wrap h5">
                                                                <span class="price-new">€ {{ reservation_today.roomid.price }} every night</span>
                                                        </div>
                                                </div>
                                        </figure>
                                </div>
                {% endfor %}
        </div>
</div>
                All reservations that end this week
<div class="rooms container">
        <div class="row">

                {% for reservation_week in reservations_week %}
                        <div class="col-md-4">
                                <figure class="card card-product">
                                        <div class="img-wrap"><img alt="image" src="{{ asset('/images/' ~ reservation_week.roomid.image)}}" height="220px" width="348px"></div>
                                        <figcaption class="info-wrap">
                                                <h4 class="title">{{ reservation_week.roomid.typeid }}</h4>
                                                <p class="desc">Extra features: <br>{% for extra in reservation_week.roomid.extra %}{{ extra.description|lower }} {% endfor %}</p>
                                        </figcaption>
                                        <div class="bottom-wrap">
                                                <div class="price-wrap h5">
                                                        <span class="price-new">€ {{ reservation_week.roomid.price }} every night</span>
                                                </div>
                                        </div>
                                </figure>
                        </div>
                {% endfor %}
        </div>
</div>
        {% endblock %}
