<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('/css/styles.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    <div class="row all">
        <div class="col-2 {% if is_granted('ROLE_ADMIN') %} admin {% else %} user {% endif %}">
            {% if is_granted('ROLE_ADMIN') %}
            <div class="sidebar-sticky sidebar-top">

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link nav-sidebar" href="{{ path('admin') }}">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-sidebar" href="{{ path('admin_stats') }}">
                            Statistics
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Content Management</span>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link nav-sidebar" href="{{ path('room_index') }}">
                            All rooms
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-sidebar" href="{{ path('type_index') }}">
                            All types
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-sidebar" href="{{ path('reservation_index') }}">
                            All reservations
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-sidebar" href="{{ path('extra_index') }}">
                            All extras
                        </a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="col-10 right-content">
            <ul class="nav custom-header justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('default') }}">Home</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_profile_show') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('your_bookings') }}">Your bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('default') }}">Book a room now!</a>
                    </li>
                {% endif %}
            </ul>
        {% block body %}{% endblock %}
        {% block content %}
            {% block fos_user_content %}{% endblock %}
        {% endblock %}
        </div>
    </div>
        {% block javascripts %}{% endblock %}
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
